USE [master]
GO
/****** Object:  Database [Moody]    Script Date: 23/06/2023 11:29:17 ******/
CREATE DATABASE [Moody]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Moody', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.EXPRESSO\MSSQL\DATA\Moody.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Moody_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.EXPRESSO\MSSQL\DATA\Moody_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Moody].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Moody]
GO
/****** Object:  Table [dbo].[mood_record]    Script Date: 23/06/2023 11:29:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mood_record](
	[id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[acronym] [varchar](2) NOT NULL,
	[description] [varchar](150) NOT NULL,
	[date] [varchar](30) NOT NULL,
 CONSTRAINT [pk_mood_record_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[moods]    Script Date: 23/06/2023 11:29:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[moods](
	[acronym] [varchar](2) NOT NULL,
	[name] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[acronym] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 23/06/2023 11:29:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[password] [varchar](200) NOT NULL,
 CONSTRAINT [pk_users_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_users_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[mood_record]  WITH CHECK ADD  CONSTRAINT [fk_mood_record_moods] FOREIGN KEY([acronym])
REFERENCES [dbo].[moods] ([acronym])
GO
ALTER TABLE [dbo].[mood_record] CHECK CONSTRAINT [fk_mood_record_moods]
GO
ALTER TABLE [dbo].[mood_record]  WITH CHECK ADD  CONSTRAINT [fk_mood_record_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[mood_record] CHECK CONSTRAINT [fk_mood_record_users]
GO
USE [master]
GO
